
  
  .container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
  
  .image-wrapper {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0.5em;
  }
  
  img {
    border: 1px solid #9e9494;
    cursor: pointer;
    height: 30rem;
    border-radius: 0.5em;
    transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1) ease-in-out;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.5em;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 1s ease-in-out;
  }
  
  .expanded {
    transform: scale(1.2);
    transition: 1s ease-in-out;
  }
  
  .image-wrapper:hover .overlay {
    opacity: 1;
    
  }
  